body { 
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0px;
    flex-direction: column;
}

div {
    flex-grow: 1;
    position: relative;
}

#video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    margin: 0 auto;        
}